@import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
  font-family: 'Noto Sans JP', sans-serif;
}

h1 {
  text-align: center;
    font-size: 2.5em;
}

@media screen and (max-width: 430px) {
    .responsive-h1{
        font-size: 2.3em;
    }
}

.responsive-h2 {
    font-size: 24px;
  }
  
@media screen and (max-width: 480px) {
    .responsive-h2 {
        font-size: 18px;
    }
}  
  
#content {
  text-align: left;
  margin-top: 20px;
  width: 820px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 880px) {
  #content {
    width: 95%;
  }
}

#content h2 {
  position: relative;
  background-color: #6aa3da;
  padding: 8px 0 8px 20px;
  color: #000000;
  font-weight: 700;
}

#content h2:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 9px;
  height: 100%;
  background-color: #4682b3;
}
